.text{
   margin-left: 100px;
   margin-right: 100px;
  text-align: justify;
}
.text h5{
    padding: 5px;
}
.text h3{
    padding: 5px;
}
.last-footer{
    background-color: brown;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
}